<!DOCTYPE html>
<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Nanum+Gothic+Coding&family=Nanum+Myeongjo&display=swap" rel="stylesheet">
<<<<<<<< HEAD:TeamPJ/src/main/resources/templates/menu/calender.html
    <link rel="stylesheet" href="../../static/css/menu/calender.css" th:href="@{/css/menu/calender.css}">
========
    <link rel="stylesheet" href="../../static/css/schedule/register_schedule.css" th:href="@{/css/schedule/register_schedule.css}">
>>>>>>>> origin/lsh:TeamPJ/src/main/resources/templates/schedule/register_schedule.html
</head>
<body>
    <div class="schedule">
        <h2>일정 등록</h2>
        <form>
            <div class="schedule-margin-design">
                <label>
                    <span>일정제목</span>
                    <input type="text"/>
                </label>
            </div>
            
            <div class="schedule-margin-design">
                <label>
                    <span>날짜</span>
                    <div class="schedule-date-line">
                        <input type="date">
                        <input type="date">
                    </div>
                </label>
            </div>
            
            <div class="schedule-margin-design">
                <label>
                    <span>시간</span>
                    <div class="schedule-date-line">
                        <input type="time">
                        <input type="time">
                    </div>
                </label>
            </div>
            
            <div class="schedule-margin-design">
                <label>
                    <span>장소</span>
                    <input type="text">
                </label>
            </div>
            
            <div class="schedule-margin-design">
                <label>
                    <span>초대</span>
                    <input type="text">
                </label>
            </div>
            
            <div class="schedule-description">
                <label>
                    <span>설명</span>
                    <textarea class="schedule-description-line" name="" id=""></textarea>
                </label>
                <!-- <div class="schedule-register-button"><span>등록</span></div> -->
            </div>
          
        </form>
        <div>
            <button type="submit">확인</button>
            <button type="button">취소</button>
          </div>
      </div>
      
      
</body>
</html>

<style>

</style>
  