<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Nanum+Gothic+Coding&family=Nanum+Myeongjo&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/register.css" th:href="@{css/register.css}">

</head>
<body>
<div class="join">
    <h1>New Company</h1>
    <h2>회원가입</h2>
    <form th:action="@{/register}" method="POST" enctype="multipart/form-data">
        <div class="join-form-box">
            <label>
                <span>아이디</span>
                <input type="text" name="employeeId"/>
            </label>
            <div>
                <div class="join-button-style"><span>중복</span></div>
            </div>
        </div>

        <div class="join-form-box">
            <label>
                <span>비밀번호</span>
                <input type="password" name="employeePassword">
            </label>
        </div>

        <div class="join-form-box">
            <label class="join-input-design">
                <input type="password">
            </label>
        </div>

        <div class="join-form-box">
            <label>
                <span>이름</span>
                <input type="text" name="employeeName">
            </label>
        </div>

        <div class="join-form-box">
            <label>
                <span>생년월일</span>
                <input type="text" name="employeeBirthDate">
            </label>
        </div>

        <div class="join-form-box">
            <label>
                <span>휴대폰 번호</span>
                <div class="join-button-box">
                    <select name="carrier">
                        <option value="">LGU</option>
                        <option value="">SKT</option>
                        <option value="">KT</option>
                    </select>
                    <select name="prefix">
                        <option value="010">010</option>
                        <option value="011">011</option>
                        <option value="06">06</option>
                    </select>
                    <span>-</span>
                    <input type="tel" name="infix" style="width:63px;">
                    <span style="margin-left:8px;">-</span>
                </div>

                <div class="tel-design">
                    <input type="tel" name="postfix" class="border-top tel-width">
                </div>

            </label>
            <div class="join-admin-button"><span>인증</span></div>
        </div>

        <div class="join-form-box">
            <label class="join-input-design">
                <input type="text">
            </label>

            <div class="join-button-style"><span>인증확인</span></div>
        </div>

        <div class="join-form-box">
            <label>
                <span>이메일</span>
                <div class="join-form-email">
                    <input type="text" name="emailFirst" class="join-form-email-first-input">
                    <span>@</span>
                    <input type="text" name="emailSecond" class="join-form-email-input">
                    <select class="join-form-email-select" name="emailDomain">
                        <option value="naver">네이버</option>
                        <option value="gmail">지메일</option>
                        <option value="daum">다음</option>
                    </select>
                </div>

            </label>
        </div>

        <div class="join-form-box">
            <label>
                <span>주소</span>
                <input type="text">
            </label>
            <div class="join-button-style"><span>우편번호 찾기</span></div>

        </div>

        <div class="join-form-box">
            <label>
                <span>상세주소</span>
                <input type="text">
            </label>
        </div>

        <div class="join-form-box">
            <div class="join-form-box-gender">
                <span>성별</span>
                <div class="join-gender-button">
<!--                    <input type="button" class="join-back-design" value="여자" onclick="setGender('여자')">-->
<!--                    <input type="button" class="join-back-design" value="남자" onclick="setGender('남자')">-->
                </div>
            </div>
        </div>

        <div class="join-form-box">
            <label class="join-profile-line">
                <span>프로필 사진</span>
                <div class="join-profile"></div>
                <div class="join-photo-register"><span>등록</span></div>
            </label>
        </div>
        <div>
            <input type="submit" value="제출">
        </div>


    </form>
    <div class="join-back-login">
        <a href="">로그인 화면으로</a>
    </div>
</div>


<script>
    document.addEventListener('DOMContentLoaded', function() {
        const emailFirstInput = document.querySelector('.join-form-email-first-input');
        const emailSecondInput = document.querySelector('.join-form-email-input');
        const emailDomainSelect = document.querySelector('.join-form-email-select');

        emailDomainSelect.addEventListener('change', function() {

            const selectedDomain = this.value;

            switch (selectedDomain) {
                case 'naver':
                    emailSecondInput.value = 'naver.com';
                    break;
                case 'gmail':
                    emailSecondInput.value = 'gmail.com';
                    break;
                case 'daum':
                    emailSecondInput.value = 'daum.net';
                    break;
                default:
                    emailSecondInput.value = '';
                    break;
            }
        });
    });
</script>

</body>
</html>