<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragment/main-layout}"
>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MainPage</title>
    <link rel="stylesheet" href="../../static/css/main/index.css" th:href="@{/css/main/index.css}" >
    <script src="/js/main/index.js" th:src="@{/js/main/index.js}" defer></script>

</head>
<body>
<header th:replace="~{fragment/header :: header}"></header>
<main layout:fragment="main">
    <section class="main-section">
        <div class="main-div">
            <div class="main-item">마이페이지</div>
            <div class="main-item">채팅</div>
            <div class="main-item">공유드라이브</div>
            <div class="main-item">조직도</div>
            <div class="main-item">비품관리</div>
            <div class="main-item">인사관리</div>
            <div class="main-item">테스트</div>
            <div class="main-item">테스트</div>
            <div class="main-item">테스트</div>
        </div>
    </section>
</main>
<footer th:replace="~{fragment/footer :: footer}"></footer>
</body>
</html>