<!DOCTYPE html>
<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MainPage</title>
    <link rel="stylesheet" href="../../static/css/main/index.css" th:href="@{/css/main/index.css}" >
    <script src="/js/main/index.js" th:src="@{/js/main/index.js}" defer></script>

</head>
<body>
<header>
    <nav class="navbar">
        <div class="logo"><a href="#" class="main-icon">New Company</a></div>
        <ul class="nav-links">
            <li class="dropdown">
                <a href="#" class="dropdown">공유드라이브</a>
                <div class="dropdown-content">
                    <a href="#">test1</a>
                    <a href="#">test2</a>
                    <a href="#">test3</a>
                </div>
            </li>
            <li><a href="#">마이페이지</a></li>
            <li><a href="#">회사관리</a></li>
            <li><a href="#">Chat</a></li>
            <li><a href="#">로그아웃</a></li>
        </ul>
    </nav>
</header>

<main>
    <section class="main-section">
        <div class="main-div">
            <div class="main-item">마이페이지</div>
            <div class="main-item">채팅</div>
            <div class="main-item">공유드라이브</div>
            <div class="main-item">조직도</div>
            <div class="main-item">비품관리</div>
            <div class="main-item">인사관리</div>
            <div class="main-item">테스트</div>
            <div class="main-item">테스트</div>
            <div class="main-item">테스트</div>
        </div>
    </section>

</main>

<footer>
    <div class="footer-container">
        <div class="footer-left">
            <div class="footer-links">
                <a href="#" class="p_info">개인정보 처리방침</a>
                <a href="#">위치정보 이용약관</a>
                <a href="#">사이트맵</a>
                <a href="#">임차문의</a>
                <a href="#">고객문의</a>
                <a href="#">인재채용</a>
            </div>
            <div class="footer-info">
                <p>New Company</p>
                <p>대표이사: test</p>
                <p>사업자등록번호: test</p>
                <p>COPYRIGHT © 2019 ALL RIGHTS RESERVED BY New Company</p>
            </div>
        </div>
    </div>
</footer>
</body>
</html>