<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team.mapper.Mapper">


<!-- @@@@@@@@@@@@@@@@회원가입@@@@@@@@@@@@@@@@-->
    <insert id="insertEmployee">
    insert into employee (employee_no,employee_ci, employee_name, employee_id, employee_password, employee_birthdate, employee_phone_number, employee_address, employee_detailed_address, employee_gender, employee_email, employee_dept, employee_profile_img)
    values (null, #{employeeCi}, #{employeeName}, #{employeeId}, #{employeePassword}, #{employeeBirthDate}, #{employeePhoneNumber}, #{employeeAddress}, #{employeeDetailedAddress}, #{employeeGender}, #{employeeEmail}, #{employeeDept}, #{employeeProfileImage});
    </insert>

    <!-- @@@@@@@@@@@@@@@@아이디 중복 검사@@@@@@@@@@@@@@@@-->
    <select id="selectEmployeeIdIsAvailable" resultType="java.lang.Boolean">
        SELECT COUNT(*) > 0 FROM employee WHERE employee_id = #{employeeId}
    </select>

    <!-- @@@@@@@@@@@@@@@@비품 등록@@@@@@@@@@@@@@@@-->
    <insert id="insertProduct">
        insert into product (product_no,product_name,product_category,product_amount,product_purchase_date,product_supplier,product_price,product_image,product_description)
        values (null, #{productName}, #{productCategory}, #{productAmount}, #{productPurchaseDate}, #{productSupplier}, #{productPrice}, #{productImage}, #{productDescription});
    </insert>

</mapper>