<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team.mapper.ServiceMapper">

    <insert id="insertEmployee">
        insert into employee (employee_no, employee_name, employee_id, employee_password, employee_birthdate, employee_phone_number, employee_email, employee_address, employee_detailed_address, employee_gender)
        values (null, #{employeeName}, #{employeeId}, #{employeePassword}, #{employeeBirthDate},
        #{employeePhoneNumber}, #{employeeEmail}, #{employeeAddress}, #{employeeDetailedAddress}, #{employeeGender});
    </insert>

</mapper>